// 1. eventi
//

#events-container {


    .livefast {
        display: none;
    }
}

.home {

    #events-container {
        background-image: url(../images/grafica-live-fast.jpg);
        background-position-y: top;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: contain;

        .livefast {
            display: block;
            padding-top: rem-calc(28);
            padding-left: 10%;
            padding-right: 10%;

            @include breakpoint(medium) {
                padding-top: rem-calc(100);
            }

        }
    }


}

#event-block {
    @include breakpoint(medium) {
    width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	clear: both;
    }
    padding-bottom: rem-calc(80);

    h2 {
        text-align: center;
        padding: rem-calc(16 16 0);

        @include breakpoint(medium) {
            padding: rem-calc(50 16);
        }
    }

    .block-event-single {
        align-items: center;
        text-transform: uppercase;
        padding: rem-calc(16 16 32);
        @include breakpoint (medium) {
            padding: rem-calc(16 16);
        }
    }

    .hollow {

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    .button.rsvp{
        border: 1px solid white;
        color: $black;
        margin-top: 10px;
        padding: 0.65em 0.7em;
        font-size: rem-calc(18);
        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    .block-event-field {
        text-align: center;
        margin-top: 0;

        @include breakpoint(medium) {
            text-align: left;
        }
    }

    .block-event-date {
        font-weight: normal;
        font-size: rem-calc(18);

        @include breakpoint(medium) {
            font-size: rem-calc(16);
        }
    }


    .block-event-title {
        font-weight: bolder;
        font-size: rem-calc(23);
    }

    .block-event-btn {
        text-align: center;
        margin-top: .7rem;

        @include breakpoint(medium) {
            text-align: right;
            margin-top: 0;
        }

    }

    .see-more {
        text-align: center;
    }
}

#overlay-container {
    z-index: 99;
    display: none;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);

    #overlay {
        width: 90%;
        max-height: 98vh;
        margin: 0 auto;
        overflow-y: auto;

    &::-webkit-scrollbar {
        width: 2px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
        @include breakpoint(medium) {
            width: 50%;
        }

    }

    #hide {
        margin: 16px;
        display: block;
        top: 0;
        right: 0;
        position: fixed;

        .close-icon {

            cursor: url(../images/cursoret.png), auto;
            font-size: 24px;
            height: 24px;
            line-height: 24px;
            padding: 0;
            text-align: center;
            width: 24px;
            text-decoration: none !important;
            outline: 0;
            transition: color .2s linear;
            color: $secondary-color;
        }
    }
}

// 2. newsletter
//

#newsletter-block {

    /* The image used */

    background-image: url("https://dirtymondays.com/wp-content/uploads/2020/09/newsletter-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(large) {
        background-attachment: fixed;
        background-position: center;
        background-image: url("https://dirtymondays.com/wp-content/themes/dirty-mondays/assets/images/newsletter.jpg");
    }



    .newsletter-block-content {
        color: white !important;

        h2 {
            text-align: center;
        }

        label {
            color: white !important;
        }

        padding: rem-calc(40 0 20);
        width:90%;
        margin: 0 auto;


        @include breakpoint(medium) {
            width: 35%;

        }
    }

}

.mailster-form li {
    margin-left: 1rem !important;
}

// 

.home-cover-image{
    margin-top:90px;

    @include breakpoint(medium) {
        margin-top:100px;
    }
}
// 3. video
#videobg {
    margin-top: 86px;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
   

    @include breakpoint(large) {
        margin-top: 100px;
        height: 85vh;
        padding-bottom: 0;
      
    }


}

// 4. shop video
#shopbg {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    text-transform: uppercase;

    .shop-block-content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {

            font-size: rem-calc(18);

            @include breakpoint(large) {
                padding-top: 1.5rem;
                font-size: rem-calc(26);
            }

            color:white;
        }
    }

    @include breakpoint(large) {
        height: 85vh;
        padding-bottom: 0;
    }


}

// 5. tabs

.tabs {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabs-title {
    text-transform: uppercase;
    margin: 0 2rem;
    border: 2px solid white;

}

.fixedtop{
	margin-top: 90px;
}

#dm-tabs li a{
	font-size: 21px;
	padding:16px;
}

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}

//slider 
.block-slider {
    position: relative;

    @include breakpoint(medium) {
        margin-top: -120px;
    }

    .orbit {


        @include breakpoint(medium) {
            min-height: 65vh;
            overflow: hidden;
        }

        @include breakpoint(large) {
            height: 85vh;
            overflow: hidden;
        }
    }

    .slider-wrapper {

        background-color: rgba($color: #000000, $alpha: .6);
        display: flex;
        justify-content: center;
        align-items: center;

        .slider-content {
            padding-top: 20px;
            width: 800px;
            max-width: 90%;
            margin: 0 auto;

        }

        @include breakpoint(medium) {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;

            .slider-content {
                padding-top: 110px;

            }
        }
    }

    label {
        color: white;
    }



    h3 {
        font-size: rem-calc(20);

        @include breakpoint(medium) {
            font-size: rem-calc(30);
        }
    }

    .input {
        margin: 0;
    }

    .mailster-submit-wrapper {
        margin-top: -48px !important;
    }

    .submit-button {
        margin: 0;
    }

    .mailster-form-5 .mailster-wrapper {

        padding: 8px !important;

    }

}

//grid

.grid-item {
    text-align: center;
    margin: 1px;
    background-color: $white;
    color: $black;
    transition: background-color .3s ease-in-out;

    h3 {
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 0.2rem;
        margin-top: .8rem;
    }

    h4 {
        line-height: 1;

        font-size: 15px;
        margin-block-end: .8rem;
    }

    .icon {
        position: relative;
    }

    .img-container {
        background: rgba(0, 0, 0, 0.4);
        color: $white;
        display: flex;
        top: 0;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    p {
        font-family: "PT Serif", serif;
        font-weight: 300;
        font-size: 12px;
        padding-bottom: 1rem;
    }

    &:hover {
        background-color: $black;
        color: $white;
    }
}

// full title

.full-title {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    background: white;
    color: black;
    text-align: center;
    padding: .6rem 0;

    h2 {
        font-size: 1.8rem;
        margin-bottom: 0;
        line-height: 1;
        font-family: 'PT Serif', serif;
    }
}

.block-carousel {
    background-color: $white;
    color: $black;

    .block-header {
        justify-content: space-between;
        display: flex;
        padding-top: 32px;

        .block-title {
            font-size: rem-calc(20);
        }
    }

    a {
        color: $black;
    }

    .single-slide {
        text-align: center;
        padding: 8px;

        h4 {
            margin-top: rem-calc(10);
            font-size: rem-calc(14);
            margin-bottom: 0;
            text-transform: uppercase;
        }

        a {
            text-align: center
        }

        p {
            font-size: rem-calc(14);
        }


    }

    .slick-dots {
        bottom: 5px;
    }

}

.home-products {
    color: black;
    background: white;
    padding: 30px 15px;

    a {
        color: black;
    }
}