.header {
    height: 80px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: margin-top 1s;

    @include breakpoint(large) {
        height: 100px;
        position: fixed;

    }

    .nav-menu {
        text-transform: uppercase;
    }

    .menu{
        a {
            text-transform: uppercase;

            &:hover{
                color: $secondary-color;
            }
        }

        .active>a{
            color: $secondary-color;
        }
    }

    &.scrolldown {
        transition: margin-top 1s;
        margin-top: -100px !important;
    }

    &.opacity {
        background: rgba(0, 0, 0, .6);
    }
}

#header-mobile {
    display: flex;
    background-color: #000;
    align-items: center;
    position: fixed;
    width:100%;

z-index: 1;

    .logo-mobile {
        flex: 1 1 auto;

        img {max-width: 280px;padding:10px;}
    }
 span{flex: 0 0 40px;
text-align:center}

    // .close-menu {
    //     width: 25%;
    //     float: right;
    //     padding: 20px;
    //     text-align: right;
    // }

}




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
   display: flex;
   justify-content: center;
   align-items: center;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    transform: translateX(100%);

    .menu{
        flex-direction: column;


        align-items: center;
        justify-content: center;
    }
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:white;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }